<div class="col-xs-3">
  <h2>User info</h2>
  <div class="profile_image">
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  </div>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th><%= link_to user.follower.count, user_follows_path(user) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to user.followed.count, user_followers_path(user) %></th>
      </tr>
    </tbody>
  </table>
<!--フォロー機能-->
     <% if current_user != user %>
     <% if current_user.following?(user) %>
     <%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
     <% else %>
     <%= link_to 'フォローする', user_relationships_path(user.id), method: :POST, class: "btn btn-success" %>
     <% end %>
     <% end %>

     <% if user == current_user %>
  <div class='row'>
    <%= link_to '',edit_user_path(user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
  </div>
<% end %>

  <h2>New book</h2>
    <%= form_for(book) do |f| %>
      <% if book.errors.any? %>
        <h5><%= book.errors.count %> errors prohibited this book from being saves:</h5>
        <ul>
          <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class= "field row">
        <h5>Title</h5>
          <%= f.text_field :title,class: "col-xs-12" %>
      </div>
      <div class= "field row">
        <h5>Opinion</h5>
          <%= f.text_area :body,class: "col-xs-12" %>
      </div>
      <div class= "actions row">
        <%= f.submit "Create Book", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
</div>